{% extends 'pages/sellermaster.html' %}
{% load static %}
{% block content %}  
<div class="row">
  <div class="home-content">
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Order</div>
          <div class="number">{{ order_count}}</div>
        </div>
        <i class='bx bx-cart-alt cart'></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">pending Orders</div>
          <div class="number">{{pending_count}}</div>
        </div>
        <i class='bx bxs-cart-add cart two' ></i>
      </div>
      <div class="box">
        <div class="">
          <div class="box-topic">Delivered orders</div>
          <div class="number">{{delivered_count}}</div>
        </div>
        <i class='bx bxs-cart-add cart two' ></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total products</div>
          <div class="number">{{ products_count }}</div>
        </div>
        <i class='bx bxs-cart-download cart four' ></i>
      </div>
    </div>

    
    <div class="sales-boxes mt-3">
      <div class="recent-sales box" style="position:relative;"> 
        <div class="title">Recent Sales
        <table class="table bg-white rounded shadow border  table-hover text-center"
        style="font-weight: lighter;">
          <thead>
            <tr>
             <td>Date</td>
             <td>Customer</td>
             <td>Product</td>
             <td>Quantity</td>
             <td>Price</Td>
            </tr>
          </thead>
          <tbody>
            {% for order in order %}
            <tr>
              <td>{{order.oreder.created_at}}</td>
              <td>{{order.oreder.first_name}}</td>
              <td>{{order.product.product_name}}</td>
              <td>{{order.quantity}}</td>
              <td>{{order.price}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
      <div class="top-sales box">
        <div class="title">Top Seling Product</div>
        <table class="table bg-white rounded shadow border  table-hover text-center mt-3"
        style="font-weight: lighter;">
        <thead>
          <tr>
            <td>Product </td>
            <td>Product Name</td>
            <td>Price</td>
          </tr>
        </thead>
        <tbody>
          {% for product in topselling%}
            <tr>
              <td><img src="/media/{{ product.product__product_image}}" alt="" class="img img-fluid "></td>
              <td>{{ product.product__product_name }}</td>
              <td>{{ product.product__product_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endblock %}