{% extends 'pages/adminmaster.html' %}
{% load static %}
{% block content %}  
<div class="row">
  <div class="home-content">
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
          <div class="">Total Order</div>
          <div class="number">{{ order_count}}</div>
        </div>
        <i class='bx bx-cart-alt cart ms-5'><i class="fa-solid fa-truck-fast"></i></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="">Total Sellers</div>
          <div class="number">{{ sell_count }}</div>
        </div>
        <i class='bx bxs-cart-add cart two ms-5' ><i class="fa-solid fa-people-group"></i></i>
      </div>
      <div class="box">
        <div class="">
          <div class="">Total Customers</div>
          <div class="number">{{ cust_count }}</div>
        </div>
        <i class='bx bx-cart cart three ms-3' ><i class="fa-solid fa-people-group"></i></i>
      </div>     
      <div class="box">
        <div class="right-side">
          <div class="">Total products</div>
          <div class="number">{{ prod_count }}</div>
        </div>
        <i class='bx bxs-cart-download cart four ms-5' ><i class="fa-solid fa-boxes-stacked"></i></i>
      </div>
    </div>

    
    <div class="sales-boxes mt-3">
      <div class="recent-sales box" style="position:relative;"> 
        <div class="title">Recent Sales
        <table class="table bg-white rounded shadow border  table-hover text-center"
        style="font-weight: lighter;">
          <thead>
            <tr>
             <td>Date</td>
             <td>Customer</td>
             <td>Product</td>
             <td>Seller</td>
             <td>Qty</td>
             <td>Price</Td>
            </tr>
          </thead>
          <tbody>
            {% for order in order_list %}
            <tr>
              <td>{{order.oreder.created_at}}</td>
              <td>{{order.oreder.first_name}}</td>
              <td>{{order.product.product_name}}</td>
              <td>{{order.seller.seller_name}}</td>
              <td>{{order.oreder.total_price }}</td>
              <td>{{order.oreder.total_price }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
      <div class="top-sales box">
        <div class="title">Top Seling Product</div>
        <table class="table bg-white rounded shadow border  table-hover text-center mt-3"
        style="font-weight: lighter;">
        <thead>
          <tr>
            <td>Product </td>
            <td>Product Name</td>
            <td>Seller Name</td>
            <td>Price</td>
          </tr>
        </thead>
        <tbody>
          {% for product in topselling%}
            <tr>
              <td><img src="/media/{{ product.product__product_image}}" alt="" class="img img-fluid "></td>
              <td>{{ product.product__product_name }}</td>
              <td>{{ product.seller__seller_name }}</td>
              <td>{{ product.product__product_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endblock %}