{% extends 'pages/adminmaster.html' %}
{% load static %}

{% block content %}
<div class="col-10 mt-5">
<div class="text-center p-4">
    <h4>VIEW CUSTOMER</h4>
</div>

<div class="container">
    <div class="row">       
        <div class="">
            <table class="table border shadow">
                <thead style="background:orange;">                                     
                </thead>
                <tbody>
                   
                <tr class="table-light"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}