{% extends 'pages/custhome.html' %}
{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/clogin.css' %}">
</head>
<body>
    
{% block content %}
<style>
    {% comment %} .card{
      
      padding-top: 100px;
      padding-bottom: 100px;
      padding-left: 100px;
      padding-right: 100px;
    }
     {% endcomment %}
     label{
      float: left; 
  }
  input {
      width: 70%;
  
  }
  p{
    color:orange;
    
  }
  {% comment %} .btn{
    margin-left:200px;
  } {% endcomment %}
  </style>
<div class="body">
    <div class="container pt-3">
        <div class="card shadow boredr mb-5" style="max-width: 1000px; height:400px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{% static 'images/cust.webp' %}" class="img-fluid square " alt="..." style="height:398px ;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title text-center">LOGIN</h5>
                <p class="card-text text-center"><b>Become part of H-cart family !</b></p>
                
                <form method="POST">
                  
                  {% csrf_token %}
                  <label for="exampleInputEmail1" class="form-label col-2">Mail id :</label>
                    <input type="email" class="form-control w-50 " id="exampleInputEmail1" name="cusmail" placeholder="ab@gmail.com"><br>
                  
                    <p style="color:red;">{{ msg }}</p>
                    <label for="exampleInputPassword1" class="form-label col-2">Password :</label>
                    <input type="password" class="form-control w-50" id="exampleInputPassword1" name="cstpass"><br>
                  
                   <button type="submit" class="btn btn-primary w-25" style="margin-left:200px;">Login</button><br><br>
                 don't have an account?<a href="{% url 'hcart:signup' %}">click here to create account</a><br><br>
                 <a href="{% url 'hcart:pass' %}">forgot your password?</a>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>