{% extends 'pages/custhome.html' %}
{% load static %}
{%block content%}
<!-- <div class="container">
    <div class="card shadow border mt-5 mb-5">
        <div class="row">

            <div class="col-md-4">
                <img src="{% static 'images/signupsell.jpg' %}" class="container-fluid rounded">
            </div>
            <div class="col-md-4 text-left">
                <div class="content mt-3">
                    <form method='POST' enctype='multipart/form-data'>
                        {% csrf_token %}
                        <label for="exampleInputEmail1" class="form-label">name</label>
                        <input type="text" class="form-control w-75" name="s_name" id="name">

                        <label for="exampleInputEmail1" class="form-label">address</label>
                        <textarea class="form-control w-75" rows="3" name="s_add" id="address"></textarea><br>

                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control w-75" id="email" name="email">

                        <label for="" class="form-label">Gender :</label>
                        <input type="radio" name="gender" value="male" id="male">male
                        <input type="radio" name="gender" value="female" id="female">female<br>

                        <label for="exampleInputEmail1" class="form-label">phone</label>
                        <input type="text" class="form-control w-75" id="phone" name="s_ph">
                                              
                        <label for="exampleInputPassword1" class="form-label">Upload pic</label>
                        <input type="file" class="form-control w-75" name="sellimg"><br>
                    </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="content">
                    <label for="exampleInputEmail1" class="form-label">Company name</label>
                    <input type="text" class="form-control w-75" id="cn" name="c_name">

                    <label for="exampleInputEmail1" class="form-label">Account holder name</label>
                    <input type="text" class="form-control w-75" id="an" name="acc_h">

                    <label for="exampleInputEmail1" class="form-label">ifsc</label>
                    <input type="text" class="form-control w-75" id="phone" name="ifsc">

                    <label for="exampleInputEmail1" class="form-label">branch</label>
                    <input type="text" class="form-control w-75" id="br" name="branch">

                    <label for="exampleInputEmail1" class="form-label">Account number</label>
                    <input type="text" class="form-control w-75" id="br" name="acc_n"><br>
                    
                    <span class="mt-5 ms-5" style="background-color: rgb(5, 196, 5);">{{msg}}</span><br>

                    <button type="submit" class="btn btn-primary w-50 ms-5 mt-2" id="submit">Submit</button><br><br>
                    <span class="ms-5" style="margin-block-start: 50px;">
                        <a href="{% url 'hcart:sellerlog' %}" class="link-warning"> Back to login </a></span>
                </div>
            </div>
            <div class="row">
            </div>
            </form>
        </div>
    </div>
</div> -->





<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow border mx-auto my-5">
                <div class="card-body">
                    <form method="POST" enctype='multipart/form-data'>
                        <div class="row">
                            <div class="col-md-3">
                                {% csrf_token %}
                                <div class="card-content">
                                    <div class="mt-4">
                                        <label for="exampleInputEmail1" class="form-label">name</label>
                                        <input type="text" class="form-control w-75" name="s_name" id="name" required>
                                    </div>

                                    <div class="mt-1">
                                        <label for="exampleInputEmail1" class="form-label">address</label>
                                        <textarea class="form-control w-75" rows="3" name="s_add"
                                            id="address" required></textarea><br>
                                    </div>

                                    <div class="mt-1">
                                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                                        <input type="email" class="form-control w-75" id="email" name="email" required>
                                    </div><span id="e_error"></span>

                                    <div class="mt-1">
                                        <label for="" class="form-label" >Gender :</label>
                                        <input type="radio" name="gender" value="male" id="male" required>male
                                        <input type="radio" name="gender" value="female" id="female" required>female<br>
                                    </div>

                                    <div class="mt-1">
                                        <label for="exampleInputEmail1" class="form-label" required>phone</label>
                                        <input type="text" class="form-control w-75" id="phone" name="s_ph">
                                    </div>

                                    <div class="mt-1">
                                        <label for="exampleInputPassword1" class="form-label" >Upload pic</label>
                                        <input type="file" class="form-control w-75" name="sellimg" required><br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">

                                <div class="mt-3">
                                    <label for="exampleInputEmail1" class="form-label">Company name</label>
                                    <input type="text" class="form-control w-75" id="cn" name="c_name" required>
                                </div>

                                <div class="mt-1">
                                    <label for="exampleInputEmail1" class="form-label">Account holder name</label>
                                    <input type="text" class="form-control w-75" id="an" name="acc_h" required>
                                </div>

                                <div class="mt-1">
                                    <label for="exampleInputEmail1" class="form-label">ifsc</label>
                                    <input type="text" class="form-control w-75" id="phone" name="ifsc" required>
                                </div>

                                <div class="mt-1">
                                    <label for="exampleInputEmail1" class="form-label">branch</label>
                                    <input type="text" class="form-control w-75" id="br" name="branch" required>
                                </div>

                                <div class="mt-1">
                                    <label for="exampleInputEmail1" class="form-label">Account number</label>
                                    <input type="text" class="form-control w-75" id="br" name="acc_n" required><br>
                                </div>

                                <div class="mb-1">
                                    <span class="mt-5 ms-5" style="color: green;">{{msg}}</span><br>
                                </div>

                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary w-75 ms-2 mt-2"
                                        id="submit">Submit</button><br>
                                </div>

                                <div class="mb-3">
                                    <span class="ms-5" style="margin-block-start: 50px;">
                                        <a href="{% url 'hcart:sellerlog' %}" class="link-warning"> Back to login <i class="fa-solid fa-right-from-bracket ms-2"></i>
                                        </a></span>

                                </div>
                            </div>
                            <div class="col-md-4">
                            <img src="{% static 'images/sale.jpeg'%}" alt="" class="img-fluid " >
                            </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
</div>



<script>
    $('#email').change(function () {
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
            }
        })

        $.ajax({

            url: '{% url "hcart:selleremailexist" %}',
            type: 'POST',
            data: {
                email: $(this).val()
            },
            success: function (response) {
                var email_err = document.getElementById('e_error')
                var email = document.getElementById('email')

                if (response.status == true) {
                    email_err.innerHTML = "Email already exist"
                    email_err.style.color = 'red'

                }

            }

        })
    })
</script>
{% endblock %}