{% extends 'pages/custhome.html' %}
{% load static  %}   
{% block content %}
<style>
     label{
      float: left; 
  }
  input {
      width: 70%;
  
  }
  p{
    color:orange;
    
  }
  </style>
<div class="body">
    <div class="container pt-3 pb-5">
        <div class="card shadow boredr mb-3 mt-5 mx-auto w-75" >
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{% static 'images/m.jpg' %}" class="img-fluid rounded-start h-100" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <form method="POST">
                  {% csrf_token %}
                <h5 class="card-title text-center">LOGIN</h5>
                <p class="card-text text-center"><b>Grow Faster With H-cart !</b></p>
                
                <form method="post">
                  <div class="mt-2">
                    <label for="exampleInputEmail1" class="form-label col-2">User Name</label>
                    <input type="text" class="form-control w-50 " name="smail">
                  </div>
                  <div class="md-1">
                    <p style="color:red;">{{ msg }}</p>
                  </div>
                  <div class="mt-2">
                    <label for="exampleInputPassword1" class="form-label col-2">Password</label>
                    <input type="password" class="form-control w-50" name="spassw">
                  </div>
                  <div class="mt-3">
                    <button type="submit" class="btn btn-primary w-25" style="margin-left:200px;">Login</button><br>
                  </div>
                  <div class="mt-3">
                    <a href="{% url 'hcart:s_signup' %}" class="link-dark"><b>Register </b></a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}

