{% extends 'pages/masterhome.html' %}
{% load static %}
{% block content %}
<div id="carouselExampleInterval container-fluid" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{% static 'images/wllpappr1.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block ">
        <h1 class="h1">CRAFTS Everyday !</h1>
        <h3 class="h3">India's best handpicked Artisanal products</h3>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'images/bg.webp' %}" class="d-block w-100" alt="...">
      <div class="cartext carousel-caption d-none d-md-block p-0">
        <h1 class="h1">CRAFTS Everyday !</h1>
        <h3 class="h3">India's best handpicked Artisanal products</h3>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'images/footwear.webp' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div><br><br><br>
<div class="span">Let's Start Shopping Now !</div>
  <div class="row m-auto p-3">
    {% for product in prods %}
    <div class="col-md-4 col-lg-3">
      <div class="col">
        <div class="c card text-center" style="width: 18rem; border:white; background-color: white;">
          <a href="{% url 'customer:product' product.id %}" class="link-dark" style="text-decoration:none;">
            <img src="/media/{{product.product_image}}" style="height: 12rem; width:12rem;" class="card-img-top "
              alt="...">
            <div class="card-body">
              <h6 class="crdtitle card-titl ">{{product.product_name|title}}</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div><br><br><br>

  <div class="showmore-container d-flex justify-content-center align-items-center flex-column mx-auto">
    <a class="btn my-auto link-warning" href="{% url 'customer:shop'%}">
      <b>Show More</b>
      <hr style="height: 6px; opacity: 5;">
    </a>
    <span class="mb-5">
      <img src="{% static 'images/show more.jpg' %}" alt="" height="200px;" width="400px;">
    </span>
  </div>
</div>

{% endblock %}