{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HCART</title>

  <!-- responsive navbar -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>


  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <script src="https://kit.fontawesome.com/1d9be7345c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/cushome.css' %}">
  <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>

<body class="body" style="background-color: white;">
  <header class="header">
    <div class="log">
    </div>
    <div class="nev">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="nav-link active" aria-current="page" href="{% url 'customer:customerhome' %}"><i
              class="fa-lg fa-solid fa-house"></i></a>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <button class="btn btn-white " data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                  aria-controls="offcanvasExample">
                  <i class="fa-lg fa-solid fa-circle-user"></i>
                </button>
              </li>
              
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'customer:crafts' %}"><b>Crafts</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'customer:custcatg' %}"><b>Category</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active " aria-current="page" href="{% url 'customer:order' %}"><b> My Orders</b></a>
              </li>
            </ul>
            <div class="logi my-auto">
              <a href="{% url 'customer:cart' %}" class="btn btn-white"><i
                  class="fa-sharp fa-solid fa-cart-shopping"></i></a>
              <a href="{% url 'customer:wishlist' %}" class="btn btn-white me-3"><i class="fa-solid fa-heart"></i></a>
            </div>
            <form class="d-flex " role="search" method="post" action="{% url 'customer:searchproducts' %}">
              {% csrf_token %}
              <input class="form-control h-25 outline-round" type="search" placeholder="Search" aria-label="Search"
                name="searchdata" id="serch">
              <button class="btn btn-white" type="submit" id="srch"><i
                  class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header" style="background:darkorange;">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{cusdata.customer_name|title}}</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <form method="POST" action="{% url 'customer:chome' %}">
          {% csrf_token %}
          <div class="float">
            <img src="{%static 'images/profile.webp'%}" class="rounded float-center w-25 h-25" alt="...">
          </div>
          <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="text" name="c_name" class="form-control" id="exampleFormControlInput1"
              value="{{cusdata.customer_name}}">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" name="c_email" class="form-control" id="email" value="{{cusdata.customer_email}}">
            <span id="email_error"></span>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Adress</label>
            <input type="text" class="form-control h-50" name="c_address" id="exampleFormControlTextarea1" rows="3"
              value="{{cusdata.address}}">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Phonenumber</label>
            <input type="number" name="c_number" class="form-control" id="exampleFormControlInput1"
              value="{{cusdata.cust_phone}}">
          </div>
          <p style="color: green;">{{ msg }}</p><br><br>
          <div>
            <button type="submit" class="s btn "><i class="fa-solid fa-floppy-disk me-1"></i>Save</button>
            <a href="{% url 'customer:cpass' %}" class="cb btn ">
              <i class="fa-solid fa-key me-1"></i>password</a>
            <a href="{% url 'customer:clogout' %}" class=" btn ">
              <i class="fa-solid fa-power-off me-1"></i>Logout</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% block content %}


  {% endblock %}


  <table class="foottable w-100">
    <tr>
      <td rowspan="2" class="foottd1">
        <img src="{% static 'images/751.jpg' %}" style="height:100px;">
      </td>
      <td class="foot"><b>Quick links</b></td>
      <td class="foot"><b>Best of category</b></td>
      <td class="foot"><b>Follow us</b></td>
    <tr>
      <td class="foot">
        contact us<br>
        about us<br>
        shipping<br>
        social reviews<br>
        payments<br>
        returns and cancellation<br>
        privacy
      </td>
      <td class="foot">
        woolen<br>
        neckleces<br>
        Fabrics<br>
        giftings<br>
        home decors<br>
        Curtains
      </td>
      <td class="foot">
        <img src="{% static 'images/f.jpg' %}" style="height:50px">
        <img src="{% static 'images/i.jpg' %}" style="height:50px">
        <img src="{% static 'images/t.jpg' %}" style="height:50px">
      </td>
    </tr>
    <tr>
      <td class="last">
        <P>All Right Reserved 2022</P>
      </td>
      <td>
        privacy policy
      </td>
      <td colspan="2">
        terms of usage
      </td>
    </tr>
  </table>



  
</body>

</html>