{% extends 'pages/masterhome.html' %}
{% load static %}
{%block content%}
<section class="h-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-8">
        <div class="card" style="border-radius: 10px;">
          <div class="card-header px-2 py-3">
            <h5 class="text mb-0">Your Orders <span style="color: darkorange;">{{cust.cust.customer_name}}
              </span></h5>
          </div>
          <div class="card-body p-2">
            <div class="card mb-4" style="border: none; height: 530px; overflow-y: scroll">
              {% for product in order %}
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img src="{{product.product.product_image.url}}" class="rounded img-fluid" alt="Phone"><br>
                    <p class="text-muted mb-0 small"><b>{{product.product.product_name}}</b></p>
                  </div>
                  
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small"><b>Qty:</b> {{product.quantity}}</p>
                  </div>

                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small"><b>Price</b> <br> ₹{{product.price}}</p>
                  </div>

                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small"><b>Oreder Date</b> {{product.oreder.created_at}}</p>
                  </div>

                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small"><b>Status</b> {{product.status}}</p>
                  </div>

                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small"><b>Total</b><br>₹{{product.oreder.total_price}}</p>
                  </div>

                </div>
                <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}