{% extends 'pages/masterhome.html' %}
{% load static %}

{% block content %}
<style>
.container {
  position: relative;
  display: inline-block;
}
.hrt {
  position: absolute;
  top: 0;
  left: 3;
  width: 50px;
  height: 50px;
  /* background-color: #333; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


</style>
  
<div class="main container mx-5 my-5">
  <div class=" row g-0  ">
    <div class="prod_data col-md-4 ">
      <form method="POST">
        {% csrf_token %}
        <div class="container">
        <img src="{{pdetail.product_image.url}}"class="img-fluid rounded-start p-2" alt="..." style="height:350px; width:350px">
        <span id="message"></span>
        <!-- <i class="hr fa-lg fa-solid fa-heart wishlist-icon" style="color: black;"></i> -->
        <input type="hidden" value="{{pdetail.id}}" class="prod_id">
        {% if pdetail.id in request.session.wishlist %}
        <div class="hrt addtowishlist  col-md-2"><i class="hr fa-lg fa-solid fa-heart" aria-hidden="true" id="icon" style="color:red"></i></div>
        {% else %}
        <div class="hrt addtowishlist  col-md-2"><i class="hr fa-lg fa-solid fa-heart" aria-hidden="true"></i></div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-8 p-3 boredr shadow" >
      <div><h5 class="card-title">{{pdetail.product_name|title}}</h5><br>
        <p class="card-text">{{pdetail.product_details}}</p>
        <h5 class="card-text"><b>₹{{pdetail.product_price}}</b></h5>
        <p class="card-text">from : {{pdetail.product_place}}</p>
        <p class="card-text"><small class="text-muted">seller : {{pdetail.seller.seller_name|title}}</small></p><b style="color:darkorange">{{ msg }}</b></div>
        <div class="row g-3">
      <div class="col-md-5"><button type="submit" class="btn btn-primary w-100"><i class="fa-solid fa-cart-shopping me-2"></i>Add to cart</button></div>
      <div class="col-md-2"><p>Qty <input type="number" class="qty w-50" name="qty" data-item="{{cart.prod.id}}" value="1" min="1"
        max="{{pdetail.current_stock}}"></p> 
        </div>    
      <div class="bg-light mt-2"><img src="{%static 'images/box.png'%}" style="height:50px; width:50px;">Packed with lots of Love !
        <img src="{%static 'images/unbox.png'%}" style="height:35px; width:35px; margin-left:40px;"> Dispatches within 48 hrs ! </div>
        {% if pdetail.current_stock > 0 %}
        <p class="card-text"><small class="text-muted">{{pdetail.current_stock|title}} product left</small></p>
        {% else %}
        <span><p style="color: red;" >Currently Unavailable</p></span>
        {% endif %}
      </div>
        <form>
      </div>
  </div>
</div>




<script>

$(document).ready(function () {
      $.ajaxSetup({
        headers: {
          "X-CSRFToken": '{{ csrf_token }}'
        }
      })
      $('.addtowishlist').click(function (e) {
        e.preventDefault();

        var product_id = $(this).closest('.prod_data').find('.prod_id').val();
        var button =$(this)
        $.ajax({
          method: 'POST',
          url: "{% url 'customer:addtowishlist' %}",
          data: {
            'product_id': product_id
          },
          success: function (response) {
            button.toggleClass('in-wishlist')
            button.hasClass('in-wishlist')
            button.css('color','red');
          }
        })
      })
    })

</script>
{% endblock %}